{
  "extends": "@sadorlovsky",

  "plugins": [
    "babel"
  ],

  "rules": {
    "generator-star-spacing": "off",
    "babel/generator-star-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "no-param-reassign": ["error", {
      "props": false
    }]
  }
}
